# Basics
ipython
numpy<2.0.0
pandas
matplotlib
seaborn

# Needed
python-dateutil
statsmodels
pmdarima
scikit-learn
tensorflow-cpu
sweetviz
autoviz
tf_keras
torch
pytesseract
sentencepiece
sacremoses
datasets>=2.0.0
transformers>=4.30.0

# Jupiter notebook
jupyter
jupyter_contrib_nbextensions
ipympl
nbresuse

## To activate extensions
# jupyter nbextension enable --py widgetsnbextension --sys-prefix
# jupyter nbextension enable --py ipympl --sys-prefix
# jupyter serverextension enable --py nbresuse --sys-prefix
